%h1= link_to "Ticketee", root_path

-if user_signed_in?
  %p
    Signed in as
    = current_user.email
    = link_to "Sign out", destroy_user_session_path, :method => :delete
    - admins_only do
      %nav= link_to "Admin", admin_root_path
-else
  %nav
    = link_to "Sign up", new_user_registration_path
    = link_to "Sign in", new_user_session_path

